pipeline/PL_Basics_Activity2.json
{
	"name": "PL_Basics_Activity2",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_FileList",
						"type": "DatasetReference",
						"parameters": {
							"ContainerName": {
								"value": "@pipeline().parameters.ContainerName",
								"type": "Expression"
							},
							"FolderName": {
								"value": "@pipeline().parameters.FolderName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Test",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ContainerName": {
				"type": "string"
			},
			"FolderName": {
				"type": "string"
			}
		},
		"variables": {
			"Test": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Basics of ADF"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-29T17:45:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}