pipeline/PL_Basics_Activity.json
{
	"name": "PL_Basics_Activity",
	"properties": {
		"activities": [
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "NewVariable2",
					"value": {
						"value": "Test",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "NewVariable",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "NewVariable3",
					"value": {
						"value": "@variables('NewVariable')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"NewVariable": {
				"type": "String"
			},
			"NewVariable2": {
				"type": "Array"
			},
			"NewVariable3": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Basics of ADF"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-29T17:45:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}